* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 20px;
}

.header-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(250, 125, 146);
}

.left-header {
  display: flex;
  text-align: center;
  align-items: center;
}

.right-header {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.logo-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-bar h1 {
  color: rgb(250, 125, 146);
  font-size: 30px;
  padding: 25px;
}

.logo-bar input {
  flex: 1;
  font-size: 15px;
  text-indent: 10px;
  height: 30px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgb(250, 125, 146);
}

.logo-bar button {
  float: left;
  padding: 15px;
  background: rgb(250, 125, 146);
  color: white;
  border: 0;
}

.logo-bar a {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  background-color: rgb(202, 2, 2);
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 10px;
}
